@{
    ViewData["Title"] = "Home Page";
}
<h1>Default Blank Page~</h1>
<p>Get to adding stuff</p>
<h3>@ViewBag.stuff.Name</h3>
@foreach(var i in @ViewBag.stuff.Types)
{
    <h3>@i</h3>
}
<h3>@ViewBag.stuff.Weight</h3>
<h3>@ViewBag.stuff.Height</h3>
